/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #122043;
	width: 100%;
	height: 100vh;
}

form{
	font-size: 30px;
	margin: 50px;
	width: 40%;
	height: 240px;
	background: #9ce9cc;
	padding: 20px;
	text-align: center; 
	border: 5px solid #02a5aa;
	border-radius: 10px;
	color: #02a5aa;
	font-weight: bold;
	font-family: 'Do Hyeon', sans-serif;

	input{
		font-size: 20px;
	}

	button{
		font-size: 30px;
		border-radius: 10px;
		width: 30%;
		margin: 20px 0;
		font-family: 'Do Hyeon', sans-serif;
		color: #02a5aa;


		&:hover{
			background: #02a5aa;
			color: #122043;
		}
	}
}


/* 2. Content ================================= */

